# Analyse the PlantGrowth R dataset

***
#### Applied Statistics project, HDip in Data Analysis at ATU
####  

#### Author: Shane Keenan 
#### Submission due date: 20/12/2024   
#### Status: Ongoing

***

### Project description (from Lecturer Ian McLoughlin )


In this project, you will analyze the [PlantGrowth R dataset](https://vincentarelbundock.github.io/Rdatasets/csv/datasets/PlantGrowth.csv).
You will find [a short description](https://vincentarelbundock.github.io/Rdatasets/doc/datasets/PlantGrowth.html) of it on [Vicent Arel-Bundock's Rdatasets page](https://vincentarelbundock.github.io/Rdatasets/).
The dataset contains two main variables, a treatment group and the weight of plants within those groups.

Your task is to perform t-tests and ANOVA on this dataset while describing the dataset and explaining your work.
In doing this you should:

1. Download and save the dataset to your repository.

2. Describe the data set in your notebook.

3. Describe what a t-test is, how it works, and what the assumptions are.

3. Perform a t-test to determine whether there is a significant difference between the two treatment groups `trt1` and `trt2`.

4. Perform ANOVA to determine whether there is a significant difference between the three treatment groups `ctrl`, `trt1`, and `trt2`.

5. Explain why it is more appropriate to apply ANOVA rather than several t-tests when analyzing more than two groups.

#### import the necessary python packages

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import random 
from PIL import Image
import os

#### Import the Plant Growth data set from PlantGrowth.csv as a DataFrame and display the data

In [51]:
#get the current working directory 
current_directory = os.getcwd()
# relative path from the notebook to the Excel file in the data folder
relative_path_data = "data\\PlantGrowth.csv"
# Join the two 
file_path_data = os.path.join(current_directory, relative_path_data)

data = pd.read_csv(file_path_data) # import the .CSV file 
data = data.drop('rownames', axis=1) # drop the rownames column 3

data

    weight group
0     4.17  ctrl
1     5.58  ctrl
2     5.18  ctrl
3     6.11  ctrl
4     4.50  ctrl
5     4.61  ctrl
6     5.17  ctrl
7     4.53  ctrl
8     5.33  ctrl
9     5.14  ctrl
10    4.81  trt1
11    4.17  trt1
12    4.41  trt1
13    3.59  trt1
14    5.87  trt1
15    3.83  trt1
16    6.03  trt1
17    4.89  trt1
18    4.32  trt1
19    4.69  trt1
20    6.31  trt2
21    5.12  trt2
22    5.54  trt2
23    5.50  trt2
24    5.37  trt2
25    5.29  trt2
26    4.92  trt2
27    6.15  trt2
28    5.80  trt2
29    5.26  trt2

In [52]:
data.info() # what are the python data types

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   weight  30 non-null     float64
 1   group   30 non-null     object
dtypes: float64(1), object(1)
memory usage: 612.0+ bytes

### Plant Growth Data set description

The `PlantGrowth` dataset is a built-in dataset included in the statistical software package R. It gives the results from an experiment with an aim to identify the impact of different treatments on the growth of plants. Three groups were analyzed: a control group and two treatment groups. No information is give as to the nature of the treatment; possibily food, CO2 levels or light exposure was varied. 

The plant yield is compared (as measured by dried weight of plants presumably in [g]) obtained under a control and two different treatment conditions.

A dataset of 30 cases of 2 variables.
- `weight`: The weight of the plant.
- `group`: The treatment group to which the plant belongs. The levels of group are control - `‘ctrl’`, treatment1 - `‘trt1’`, and treatment 2 - `‘trt2’` with 10 samples in each group.


`weight` is expressed as a numberical real varaible with precision to two decimal places and represented by floating point numbers in python (float64).
In statistical terms, where scale of measurement refers to the way variables are defined and categorized (in statistics: *nominal*, *ordinal*, *interval*, and *ratio*), the weight variable is Ratio scale as they have a true zero point (0 kg) and allow for differences between values to be determined. 
`group` is a cattegorical variable and represented as an object in python. 


In Python, we use the pandas library to store the variables of both types (numerical and cattegorical) in to a `DataFrame`. From here we can easily maniplate the data and handle the different data types together. 


Reference: 

[1] PlantGrowth R dataset source: https://vincentarelbundock.github.io/Rdatasets/csv/datasets/PlantGrowth.csv

[2] Description Vicent Arel-Bundock's Rdatasets page: https://vincentarelbundock.github.io/Rdatasets/doc/

[3] R documentation: https://rdocumentation.org/packages/datasets/versions/3.6.2/topics/PlantGrowth

[4] Types of Variable: https://statistics.laerd.com/statistical-guides/types-of-variable.php

[5] Levels of Measurement | Nominal, Ordinal, Interval and Ratio: https://www.scribbr.com/statistics/levels-of-measurement/


### Exploratory Statistical analysis

The most apppropriate summary statistics to describe the numerical quantitative variable (*weight*) in the `PlantGrowth` dataset would be to determine the *mean*, *standard deviation*, *minimum and maximum* and *quartiles*. 

For the *categorical variable* (*group*), statistics we can determine is *Frequency* and *proportionality* (percentage of each category). 

Although the sample size is small (N = 10 samples in each group) the groups are proportional with exactly 1/3 in each.

 `.describe()` generates all the summary statistics for the whole data set. using `.groupby()` and specifying `'group'` allows us to get the summary statistics for each of the 3 groups - `‘ctrl’`, `‘trt1’`, `‘trt2’`

In [53]:
data.groupby('group').describe()

      weight
       count   mean       std   min     25%    50%     75%   max
group
ctrl    10.0  5.032  0.583091  4.17  4.5500  5.155  5.2925  6.11
trt1    10.0  4.661  0.793676  3.59  4.2075  4.550  4.8700  6.03
trt2    10.0  5.526  0.442573  4.92  5.2675  5.435  5.7350  6.31

describe the summary statistics ....